<form action="/posts/comments" method="post">
<input type="hidden" value="{{post._id}}" name="postId">
  <fieldset>
    <legend>Add a Comment</legend>

    <div class="form-group">
      <textarea class="form-control" id="comment-content" name="content" rows="10" placeholder="Your comment..."/></textarea>
    </div>
  </fieldset>

  <div class="form-group">
    <button class="btn btn-primary" type="submit">Save Comment</button>
  </div>
</form>
