<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        Contractor Project
      </a>
    </div>
    <div class="pull-right">
      <a href="/posts/new" class="btn btn-default navbar-btn">New Post</a>
    </div>
  </div>
</nav>
